# نکس‌وین (NexWin) - تنظیمات اتصال به دیتابیس آنلاین سوپابیس
VITE_SUPABASE_URL=zarinpal
VITE_SUPABASE_ANON_KEY=zarinpal

# تنظیمات درگاه پرداخت زرین‌پال فعال کارگاهی
VITE_ZARINPAL_MERCHANT_ID=afd57d04-0629-49e2-ae20-6b8dc7e75ca2

# تنظیمات سامانه پیامکی کارگاه
VITE_SMS_PROVIDER=sms.ir
VITE_SMS_API_KEY=QQVvRd6pJXh4yqrwBnNuOgoFyoJIKDSPYpD5PaZZVdBPQRTQ
VITE_SMS_SENDER_NUMBER=3000505
VITE_SMS_OTP_TEMPLATE_CODE=100000
