# نکس‌وین (NexWin) - تنظیمات اتصال به دیتابیس آنلاین سوپابیس
VITE_SUPABASE_URL=zibal
VITE_SUPABASE_ANON_KEY=zibal

# تنظیمات درگاه پرداخت زیبال و زرین‌پال فعال کارگاهی
VITE_ZIBAL_MERCHANT_ID=6a2da1bf87adc92a530c787c
VITE_ZARINPAL_MERCHANT_ID=zibal
VITE_ZARINPAL_USE_SANDBOX=zibal

# تنظیمات سامانه پیامکی کارگاه
VITE_SMS_PROVIDER=sms.ir
VITE_SMS_API_KEY=QQVvRd6pJXh4yqrwBnNuOgoFyoJIKDSPYpD5PaZZVdBPQRTQ
VITE_SMS_SENDER_NUMBER=3000505
VITE_SMS_OTP_TEMPLATE_CODE=100000
