# نکس‌وین (NexWin) - تنظیمات اتصال به دیتابیس آنلاین سوپابیس
VITE_SUPABASE_URL=zibal
VITE_SUPABASE_ANON_KEY=zibal

# تنظیمات درگاه پرداخت زرین‌پال فعال کارگاهی
VITE_ZARINPAL_MERCHANT_ID=zibal
VITE_ZARINPAL_USE_SANDBOX=zibal
