@import "tailwindcss";

:root {
  --color-navy: #001f3f;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f3f4f6;
  direction: rtl;
  unicode-bidi: embed;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  .no-print {
    display: none !important;
  }
}
